body
{
background-image: url("images/background.jpg");
margin: 0;
font-family: 'Lato', sans-serif;
font-size: 20px;
}

#navbar
{
	width: 100%;
	background-color: black;
	height: 50px;
	text-align: center;
	border-bottom: dotted white 1px;
}

#logo
{
	font-size: 40px;
	color: white;
	float: left;
	border: dashed 2px white;
}

#navbar ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	line-height: 200%;
}

#navbar ol li
{
	display: block;
	float: left;
	padding: 5px;
	font-size: 25px;
}

.login
{
	height: 30px;
    float:right;
    color:white;
}

.login a
{
    text-decoration: none;
    color: green;
    font-size: 25px;
}

#navbar ol a
{
	list-style-type: none;
	color:white;
}

#navbar ol li:hover
{
	background-color: #292929;
}

#title
{
	clear: both;
	color: white;
	font-size: 40px;
	text-align: center;
}

#lista ol li
{
	text-align: center;
	list-style-type: none;
}

#lista ol li a
{
	font-size: 30px;
	color: white;
	list-style-type: none;
	text-decoration: none;
}

#lista ol li a:hover
{
	color: #0c0c0c;
	font-size: 32px;
}

#delete
{
	text-align: center;
	color: red;
}

label
{
	color: #6DDCBD;
}
