<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog\style.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <title>blog</title>
</head>
<body>

<div id="navbar">
	<div id="logo">BLOG</div>
	<ol>
		<a href="/"><li>Home</li></a>
		<a href="/posts"><li>Posts</li></a>
	</ol>
</div>

{% block content %}
replace me
{% endblock %}

</body>
</html>